/*@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");*/

@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* RESET */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  /* list-style: none; */
  border: 0;
}
html,
body {
  font-size: var(--defaultFontSize);
  font-family: var(--ff);
  color: var(--black);
  background-color: var(--ice);
  scroll-behavior: smooth;
  line-height: var(--lh);
}

:root {
  /* COLORS  */

  --primary: #8da0b0;
  --primaryB: #859aac;
  --secondary: #b9cbd7;
  --secondaryB: #ebebeb;
  --terciary: #d9dde1;
  /* --fourth: #d9dde1; */

  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;

  /* rest */
  --black: #222;
  --red-light: #ff0000;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* box shadows */
  --shadow-1: 3px 5px 3px #800080;
  --shadow-2: 3px 5px 3px #03bb85;
  --shadow-3: 5px 7px 3px #5c6f7d;
  /* tex shadows */
  --shadowT-1: 0px 2px 2px #800080;
  --shadowT-2: 0px 2px 2px #03bb85;
  --shadowT-3: 1px 2px 2px #869bac;
  /* typography */
  --defaultFontSize: 14px;
  /*--headingFont: "Inconsolata", monospace;*/
  /*--bodyFont: "Montserrat", sans-serif;*/
  --smallText: 8px;
  --extraSmallText: 6px;
  /* rest */
  --backgroundColor: var(--bgColor);
  --textColor: var(--primary);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --ff: "Bitter", Georgia, "Times New Roman", Times, serif;
  --ff2: "Pacifico", cursive;
  --lh: 1.618;
  --transition: 0.3s ease-in-out all;
}

.card-img-top {
  max-height: 80vh; /*not want to take all vertical space*/
  object-fit: contain; /*show all image, autosized, no cut, in available space*/
}
/* bootstrap */

.btn-primary,
.btn {
  background-color: var(--primary) !important;
  border-color: var(--terciary) !important;
  color: var(--terciary);
  font-family: var(--ff);
  transition: var(--transition) !important;
}
.btn-primary:hover,
.btn:hover {
  /* background-color: var(--terciary) !important;
  border-color: var(--primary) !important; */
  opacity: 0.97;
}

.navbar {
  background-color: var(--terciary) !important;
}
.navbar-text {
  color: var(--secondary) !important;
}
.navbar-nav .nav-link {
  color: var(--primary) !important;
  font-size: smaller;
}
.navbar-nav .nav-link:hover {
  padding-left: 1rem;
  transition: var(--transition);
  color: var(--terciary) !important;
}

.me-auto a {
  background-color: transparent;
}

.me-auto a:hover {
  background-color: var(--primaryB);
}

.card {
  width: 75%;
  margin: 1rem auto;
  font-family: var(--ff);
  font-size: var(--defaultFontSize);
  line-height: var(--lh);
}
@media only screen and (max-width: 456px) {
  .card {
    width: 90%;
  }
}
.card-body {
  width: 75%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--primary);
  border-radius: var(--borderRadius);
  color: var(--terciary);
  box-shadow: var(--shadow-3);
  font-family: var(--ff);
  font-size: var(--defaultFontSize);
  max-width: 72ch;
  line-height: var(--lh);
}
@media only screen and (max-width: 456px) {
  .card-body {
    width: 90%;
  }
}
.card-body a {
  color: var(--terciary);
}

.card-body p {
  margin-top: 1rem;
  color: var(--terciary);
}

.navbar-toggler {
  color: var(--primary) !important;
}
/* bootstrap */

/* tags */
header {
  box-shadow: 0px 1px 5px var(--primary);
  color: var(--terciary);
  font-family: var(--ff);
  margin-bottom: 0.1rem;
}
span,
a {
  color: var(--terciary);
}
h1 {
  text-align: center;
  padding: 1rem;
  color: var(--primaryB);
  text-transform: capitalize;
  text-shadow: var(--shadowT-3);
  /*font-family: var(--ff2);*/
  font-size: 5rem;
}
h2,
h3 {
  color: var(--terciary);
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: center;
  /*font-family: var(--ff2);*/
  font-size: 5rem;
}

footer {
  background-color: var(--primary);
  padding: 0.75rem;
  color: var(--terciary);
  text-align: center;
  font-family: var(--ff);
}
/* tags */

/* ids */
#logo {
  text-align: center;
}
.home {
  width: 100%;
  text-align: center;
  background-color: var(--primary);
  text-align: center;
  position: relative;
}
.home a {
  opacity: 0.9;
  z-index: 10;
}
/* .home a:hover {
  opacity: 0.98;
  transition: var(--transition);
} */

@media only screen and (max-width: 456px) {
  .home a {
    text-align: center;
    margin: 0 auto;
  }
}
.home p {
  color: var(--terciary);
}

.container-aba {
  /* position: relative; */
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--terciary);
  opacity: 0.8;
  padding: 1.5rem;
}

.container-aba article {
  background-color: var(--primary);
  padding: 1rem;
  color: var(--terciary);
  opacity: 0.85;
  border-radius: var(--borderRadius);
  transition: var(--transition);
}
.container-aba article:hover {
  transition: var(--transition);
  background-color: var(--primary);
  opacity: 1;
}

.container-aba a,
p {
  color: var(--terciary);
  text-decoration: none;
}

.container-contatos {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--terciary);
  padding: 1.5rem;
}
.container-contatos a {
  text-decoration: none;
  font-size: 3.5rem;
  color: var(--primaryB);
  transition: var(--transition);
}

.container-contatos a:hover {
  color: var(--primary);
  transition: var(--transition);
}

/* ids */
/* classes */
.carousel {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.bg-img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 0;
  transition: var(--transition);
}
.bg-img:hover {
  opacity: 1;
  transition: var(--transition);
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
/* Bottom left text */
.bottom-right {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.fotos {
  font-size: xx-small;
  text-decoration: none;
}

/* classes */
